<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 700;font-size: 2em;">
        TODAY
        <p style="font-weight: 400; color: blue;">
          {{today | date: 'fullDate'}}
          <!-- inisialisasi today ada di ts -->
        </p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of todoList">
    <ion-card-header>
      <ion-card-subtitle
        [style.color]="item.value.itemPriority === 'High' ? 'red' : (item.value.itemPriority === 'Low' ? 'green' : 'orange') ">
        {{item.value.itemCategory}}
      </ion-card-subtitle>
      <!-- *ngFor untuk perulangan *ngIf untuk kondisi, kayanya :D  -->
      <ion-item>
        <ion-icon *ngIf="item.value.itemPriority ==='High' " color="danger" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.value.itemPriority ==='Low' " color="success" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.value.itemPriority ==='Middle' " color="warning" size="small" name="ellipse"></ion-icon>
        <ion-label>
          {{item.value.itemName}}
        </ion-label>
      </ion-item>

    </ion-card-header>
    <ion-card-content>
      <ion-label>Due date : <br> {{item.value.itemDueDate | date:'fullDate'}}</ion-label>
      <!-- sama konsep dengan date diatas, hanya ini dinamic dari itemDueDate -->
    </ion-card-content>

    <ion-row>
      <ion-item>
        <ion-icon name="share-outline"></ion-icon>
        <p>Share</p>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Complete</p>
      </ion-item>
      <ion-item button (click)="hapus(item.key)">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cencel</p>
      </ion-item>
    </ion-row>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- button default di kiri bawah,vrtical bottom ke bawah horizontal end agar ke kanan slot fixed agar tidak bergeser ketika scroll -->
    <ion-fab-button (click)="tambah()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>